<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1862">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <div class="cs-flex">
                <a href="" class="cs-logo">
                    <img src="/assets/images/blackfish pools transparent.png" alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="317" height="49">
                </a>
                
            </div>
            <ul class="cs-ul cs-contact-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact Info</span>
                </li>
                <li class="cs-li">
                    <a href="/" class="cs-link" target="_blank" rel="noopener">
                        Vista, CA
                        <br>
                        (760) 846-6660
                    </a>
                </li>
                <li class="cs-li">
                    <a href="mailto:info@example.com" class="cs-link">
                        austinslewis@yahoo.com
                    </a>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Office Hours</span>
                </li>
                <li class="cs-li">
                    Monday to Friday
                </li>
                <li class="cs-li">
                    9am - 5pm
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="/index" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/about" class="cs-nav-link">About</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/projects" class="cs-nav-link">Services</a>
                </li>

            </ul>
            <span class="cs-copyright">
                Hand-Coded by <a class="cs-copyright-link" href="https://www.echoparkwebdesigns.com" target="_blank">Echo Park Web Designs</a> | © Copyright 2024 - <a href="" class="cs-copyright-link">Blackfish Pools</a>
            </span>
        </div>
    </div>
</footer>
                                