---
title: 'About'
description: 'About page for Blackfish Pool Services'
preloadImg: '/assets/images/background pool 2.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/background pool 2.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/background pool 2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/background pool 2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/woblick pool.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/woblick pool.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/woblick pool.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/chomka pool 3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/chomka pool 3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/chomka pool 3.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Blackfish Pool Services</h2>
                <p class="cs-text">
                    Blackfish Pool Services is a locally-owned pool cleaning business dedicated to providing top-notch service to residents across San Diego County. We work hard to ensure every pool shines with pristine clarity, making backyard relaxation effortless for our valued customers.
                </p>
                <p class="cs-text">
                    We take pride in delivering reliable and efficient service, keeping your pool sparkling clean and ready to be enjoyed year-round. With a commitment to exceptional customer satisfaction, we strive to exceed expectations, ensuring your pool maintenance experience is stress-free and enjoyable.
                </p>
                
                <a href="/projects" class="cs-button-solid">Our Services</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}