---
title: 'Services'
description: 'Pool Services Provided By Blackfish Pools'
preloadImg: '/assets/images/background pool 2.webp'
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/background pool 2.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/background pool 2.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/background pool 2.webp" alt="sunset over pool" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Services</span>
            <h2 class="cs-title">What We Provide To Our Customers</h2>
            <p class="cs-text">
                Our goal is to make your life easier so you can worry less about keeping your pool clean and spend more time enjoying yourself.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/pool-maintenance white.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Weekly Cleanings</h2>
                    <p class="cs-item-text">
                    Weekly pool cleanings keep the water clear, safe, and inviting for a refreshing swim anytime.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/handyman white.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Expert Repairs</h2>
                    <p class="cs-item-text">
                    Our repair experience ensures efficient, reliable fixes to any problems that might come up.                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/preventative maintenance white.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Preventative Maintenance</h2>
                    <p class="cs-item-text">
                        Regular pool maintenance ensures optimal functionality and extends the lifespan of pool equipment.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="/assets/images/customer service white.svg" alt="icon" width="48"
                            height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Top-Tier Customer Service</h2>
                    <p class="cs-item-text">
                        Our top-tier customer service makes sure that you always feel like a priority and are well-taken care of.
                    </p>
                </div>
            </li>
        </ul>
    </div>                            
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Ready to Get Started? Give Us a Call at (760) 846-6660</h2>
            <a href="/contact" class="cs-button-solid">Get Your Quote</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                
{% endblock %}