/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1121 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* changes to a clamp on tablet */
            gap: (40/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 16px - 24px */
            gap: clamp(1rem, 3vw, 1.5rem);
        }

        .cs-image-group {
            /* 80px - 100px */
            width: clamp(5rem, 8vw, 6.25rem);
            height: clamp(5rem, 8vw, 6.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
            background-color: #fff;
            border-radius: 100px;
        }

        .cs-icon {
            /* 36px - 48px */
            width: clamp(2.25rem, 4vw, 3rem);
            height: auto;
        }

        .cs-graphic {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        .cs-h2 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: inherit;
            margin: 0 0 (12/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-waves {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            /* makes it act like a background image */
            object-fit: cover;
            position: absolute;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1121 {
        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1121 {
        .cs-item {
            text-align: left;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1278 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (850/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 108px */
            gap: clamp(3rem, 5vw, 6.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            border: none;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 456px - 598px */
            height: clamp(28.5rem, 46vw, 37.375rem);
            border-radius: (20/16rem);
            overflow: hidden;
            display: block;
            /* sends it to the bottom in the 2nd position */
            order: 2;
            position: relative;
            z-index: 1;

            &:before {
                /* black overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #1a1a1a;
                opacity: 0.3;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 50%;
            background-color: #1a1a1a;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1278 {
        .cs-content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: (32/16rem);
        }

        .cs-flex {
            width: 45%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            width: 50%;
        }

        .cs-button-solid {
            margin-right: auto;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1278 {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .cs-content {
            width: 100%;
            max-width: (433/16rem);
            margin: 0;
            flex-direction: column;
            order: 2;
            row-gap: 0;
        }

        .cs-flex {
            width: 100%;
        }

        .cs-title {
            margin: 0 0 (16/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            width: 100%;
        }

        .cs-picture {
            max-width: (738/16rem);
            order: 1;
        }

        .cs-background {
            width: 60vw;
            height: 100%;
            /* 172px - 336px */
            margin-right: clamp(11.125rem, 30vw, 21rem);
            left: auto;
            right: 50%;
            top: 0;
        }
    }
}

/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1887 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-image-group {
            font-size: min(2.24vw, .9rem);
            width: (482/16em);
            height: (616/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: (413/16em);
            height: (593/16em);
            margin-top: (24/16em);
            box-sizing: border-box;
            background-color: #DAB692;
            overflow: hidden;
            border: 8px solid #DAB692;
            border-radius: (260/16rem);
            position: absolute;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-brown {
            width: (165/16em);
            height: auto;
            top: (20/16em);
            right: (24/16em);
            z-index: -2;
            transform: rotate(-140deg);
        }

        .cs-peach {
            width: (69/16em);
            height: auto;
            top: (16/16em);
            right: (140/16em);
        }

        .cs-leaf {
            width: (224/16em);
            height: auto;
            bottom: (0/16em);
            left: (16/16em);
            z-index: 1;
        }

        .cs-dots {
            width: (261/16em);
            height: auto;
            right: (16/16em);
            bottom: (16/16em);
            z-index: -2;
        }

        .cs-lines {
            width: (246/16em);
            bottom: (0/16em);
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            align-items: stretch;
            grid-auto-flow: row;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-item {
            list-style: none;
            padding-bottom: (32/16rem);
            border-bottom: #DED1BD 1px solid;
            display: flex;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2vw, 1.5rem);
            position: relative;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-number {
            /* 49px - 72px */
            font-size: clamp(3.0625rem, 6vw, 4.5rem);
            font-weight: 900;
            line-height: (19/16em);
            color: var(--primary);
            opacity: 0.2;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: (18/16em);
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: (24/16em);
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1887 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            /* 48px - 60px */
            gap: clamp(3rem, 6vw, 3.75rem);
        }

        .cs-card-group {
            /* 16px - 32px */
            gap: clamp(1rem, 3vw, 2rem);
        }

        .cs-item {
            flex-direction: row;
        }

        .cs-image-group {
            font-size: min(1.5vw, 1rem);
            height: auto;
            min-height: (616/16em);
            flex: none;
        }

        .cs-picture {
            height: 96.266234%;
        }
    }
}

/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1730 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px on tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (624/16rem);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 24px - 40px */
            gap: clamp(1.5rem, 4vw, 2.5rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            grid-column: span 12;
            /* 20px - 32px */
            gap: clamp(1.25rem, 3vw, 2rem);
            transition: background-color 0.3s;
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: (4rem);
            height: auto;
            margin: 0;
            display: block;
        }

        .cs-flex {
            flex: 1 1 0;
        }

        .cs-h3 {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 3vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            /* 12px - 16px */
            margin: 0 0 clamp(0.75rem, 2vw, 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: auto 0 0 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1730 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #why-choose-1730 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-card-group {
            max-width: (847/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--secondary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1670 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1670 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1862 {
        padding: var(--sectionPadding);
        padding-bottom: (40/16rem);
        background-color: #F6EDDF;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-top {
            width: 100%;
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 6vw, 4rem);
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            /* 64px - 100px */
            column-gap: clamp(4rem, 9vw, 6.25rem);
            row-gap: (32/16rem);
        }

        .cs-flex {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 32px - 48px */
            gap: clamp(2rem, 4vw, 3rem);
        }

        .cs-logo {
            width: 100%;
            max-width: (317/16rem);
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-social {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-social-li {
            list-style: none;
        }

        .cs-social-link {
            width: (40/16rem);
            height: auto;
            padding: (12/16rem);
            background-color: #DED1BD;
            border-radius: (32/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-social-icon {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }

        .cs-social-icon {
            width: (16/16rem);
            height: (16/16rem);
            display: block;
        }

        .cs-ul {
            width: auto;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-contact-ul {
            width: 100%;
            max-width: 100%;
            gap: (8/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            display: block;
        }

        .cs-header {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 16px - 24px bottom */
            margin: 0 0 clamp(1rem, 3.5vw, 1.5rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-link, .cs-li {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-link {
            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-bottom {
            width: 100%;
            margin: 0;
            /* 20px - 40px top */
            padding: clamp(1.25rem, 5vw, 2.5rem) 0 0 0;
            border-top: 1px solid #DED1BD;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-nav {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            /* 20px - 40px */
            column-gap: clamp(1.25rem, 5.3vw, 2.5rem);
        }

        .cs-nav-li {
            list-style: none;
        }

        .cs-nav-link {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColor);
            position: relative;

            &:hover {
                color: #8F5B34;

                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* on hover underline */
                content: "";
                width: 0%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .cs-copyright {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-copyright-link {
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
            margin: 0;
            color: inherit;
            display: inline-block;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-footer-1862 {
        .cs-flex {
            width: auto;
            margin-right: auto;
        }

        .cs-contact-ul {
            /* 152px - 412px */
            width: clamp(9.5rem, 25vw, 25.75rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-footer-1862 {
        .cs-bottom {
            flex-direction: row;
        }

        .cs-copyright {
            text-align: right;
        }
    }
}
                                
                                