---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1427">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"> San Diego-Based Pool Services</span>
            <h1 class="cs-title">Blackfish Pool Services</h1>
            <p class="cs-text">
                We are here for all your pool service needs. Based in North County San Diego, we are here whenever you need us.
            </p>
            <div class="cs-button-group">
                <a href="" class="cs-button-solid cs-button1">Get Your Quote</a>
            </div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/modern pool.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/modern pool.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/modern pool.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1121">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/pool net.svg" alt="icon" width="48" height="48">
                    <!--If you want to remove this background shape, add a background color to the cs-image-group so it will look good. Otherwise remove the height an width from that group so there's no extra space around the icon-->                
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Monthly Pool Cleaning</h2>
                    <p class="cs-item-text">
                        We help companies develop powerful corporate social responsibility
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/wrench.svg" alt="icon" width="48" height="48">

                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Pool Repairs</h2>
                    <p class="cs-item-text">
                        We help companies develop powerful corporate social responsibility
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/gear.svg" alt="icon" width="48" height="48">

                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Maintenance</h2>
                    <p class="cs-item-text">
                        We help companies develop powerful corporate social responsibility
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <!--SVG Waves-->
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1278">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sbs-construction.jpg" alt="construction" width="738" height="598">
        </picture>
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Company</span>
                <h2 class="cs-title">Get to Know Blackfish Pools</h2>
            </div>
            <p class="cs-text">
                We believe in transparency, communication, and collaboration. We listen carefully to our clients' needs and work closely with them throughout the construction process to ensure their satisfaction.
            </p>
            <a href="" class="cs-button-solid">Get Your Quote</a>
        </div>
    </div>

</section>

<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1887">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/modern pool 2.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/modern pool 2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/modern pool 2.jpg" alt="dermatologist" width="324" height="467">
            </picture>
            
        </div>
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">get started</span>
                <h2 class="cs-title">How to Get Started With Blackfish</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Call Us For a Quote</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Come to You</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">We Take Care of Everything From There</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1730">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Why Choose Blackfish Pool Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/pool-maintenance white.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Monthly Cleanings</h3>
                    <p class="cs-item-text">
                        Take advantage of our spacious gym equipped with a wide range of gym fitness machines so you can achieve.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/handyman white.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Expert Repairs</h3>
                    <p class="cs-item-text">
                        We have special & high priority program for who want to loose weight. We consult with physician & dieticians.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/preventative maintenance white.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Preventative Maintenance</h3>
                    <p class="cs-item-text">
                        We have special & high priority program for who want to loose weight. We consult with physician & dieticians to provide proper training.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/customer service white.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Top-Rated Customer Service</h3>
                    <p class="cs-item-text">
                        We are well equipped with the most up-to-date equipment & sound systems to enhance your class experience.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Ready to Get Started? Give Us a Call at (760) 846-6660</h2>
            <a href="/contact" class="cs-button-solid">Get Your Quote</a>
        </div>
    </div>
    <!--SVG Waves Background-->
    <img class="cs-background" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>
                                                                
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1670">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Britney Allison
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true" loading="lazy">
                    </picture>
                    <span class="cs-name">
                        Brooklyn Simmons
                        <span class="cs-job">Founder of Yokoloko</span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                    Stitch Consulting transformed our business strategy Their expert consultants provided ingenious insights that propelled us towards success. Their dedication and innovative solutions are truly commendable.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>


{% endblock %}